#MoodText {
    text-align: center;
    font-size: 35px;
}
/* 拖拉條 */
#customRange {
    background: none;
}
input[type="range" i],
input[type="range" i]::-webkit-slider-runnable-track,
input[type="range" i]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range" i]{
    width: 98%;
}
input[type="range" i]::-webkit-slider-runnable-track{
    background: rgba(170, 169, 169, 0.344);
    height: 8px;
    border-radius: 4px;
}
input[type="range" i]::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    margin-top: -5px; /*  微上調位置  */
    border-radius: 50%;
    /* border: 1px solid rgb(70, 243, 255); */
    background-color: rgb(182, 182, 182);
}

/* 按鈕容器 */
#EmotionFactorsContainer, #moodButtonsContainer1, #moodButtonsContainer2{ /* 每行顯示4個項目，但如果只有少於三項，不應把格子變寬，且格子的寬度應該取決於內部文字的長度 */
    display: grid;
    grid-template-columns: repeat(4, 94px); /* 自適應每行的按鈕 */
    gap: 6px; /* 按鈕之間的間距 */
    justify-items: stretch; /* 每個按鈕的寬度隨容器擴展 */
    margin-right: 20px;
}

/* 選項按鈕 */
#EmotionFactorsContainer .emotion-factor, #moodButtonsContainer .keyword{
    white-space: nowrap; /* 禁止文字自動換行 */
    padding: 3px 0px 3px 0px; /* 按鈕內部間距 上下相同 */
    text-align: center;
    /* 背景透明度設為70% */
    background-color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    height: 31px;
    border-radius: 8px;
    margin: 2px; /* 可以根據需要調整間距 */
    box-sizing: border-box; /* 確保padding和border不會影響寬度計算 */
  }

#moodButtonsContainer .keyword.active, #EmotionFactorsContainer .emotion-factor.active{
    background-color: rgba(0, 0, 0, 0.4);
    color: aliceblue;
}

#toggle-button {
    background-color: transparent; /* 設定背景為透明 */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    border: none; /* 移除邊框 */
}
.container{
    width: 100%;
    padding-right: 5%;
    padding-left: 2%;
}

textarea {
    width: 100%;
    height: 40px;
    padding: 8px 8px 8px 8px; /* 內邊距上右下左 */
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    border: none;
    resize: none;
}